.Reg{
width: 630px;
    position: relative;
    margin: 30px auto;
    background: #fff;
    box-shadow: 0px 3px 10px 1px #aaa;
    padding: 10px;
  font-size: 17px;
  text-align: center;
  border-radius: 7px;
  justify-content: space-between;}



button:disabled{
  background-color: #bbb;
  color: #888;
}
button{
  background: lightblue;
  border-radius: 3px;
  color:black;
  font-weight: bold;
  font-size: 20px;
  padding: 6px 15px;
  margin: 7px; 

}
a{
  text-decoration: none;
  color: black;
}