table *{
    font-size: 20px;
    text-align: justify;
}
th{
    width:20%;
}
div{
    width: 100%;
}
table{
    width: 50%;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0px 3px 10px 1px #aaa;
    padding: 10px;
    font-size: 17px;
    border-radius: 7px;
    justify-content: space-evenly;
}
.switch-format{
    position: relative;
    top: 15px;
    left: 10px;
    margin: 0 auto;
    background-color:#2ea0ff;
    border-radius: 3px;
    color:black;
    font-weight: bold;
    font-size: 20px;
    padding: 6px 15px;
    border: 1px solid black;
    width:10%;
}
.greenButton{
    color:white;
    background-color: rgb(35, 173, 69);
    font-size: large;
    font-weight: bold;
    border: 1px solid rgb(10,140,40);
    border-radius: 5px;
}
.redButton{
    color:white;
    background-color: rgb(255, 74, 74);
    font-size: large;
    font-weight: bold;
    border: 1px solid rgb(206, 70, 55);
    border-radius: 5px;
}